.chrWrap {
  width: calc(100% - 3rem);
  margin-left: 3rem;
  padding-top: $euiSizeXXL + $euiSizeS;
}

.chrHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.chrHeader__themeSection {
  display: flex;
  align-items: center;
  width: $euiSize * 11;
  justify-content: center;
  padding-left: $euiSizeXS;
  padding-right: $euiSizeXS;
}
